<!DOCTYPE html>
<html>
<head>
  <title>Angular JS Full Name Program</title>
  <script src="angular.min.js"></script>                                                                                                
</head>
<body ng-app="myApp">
  <h2>Angular JS Application to Display Full Name</h2>
  <div ng-controller="myCntrl">
    Enter First Name: <input type="text" ng-model="firstName"><br/>
    Enter Last Name: <input type="text" ng-model="lastName"><br/>
    Your Full Name: {{firstName + ' ' + lastName}}
  </div>

  <script>
    var app = angular.module("myApp", []);
    app.controller("myCntrl", function($scope) {
      $scope.firstName = "Thara";
      $scope.lastName = "K L";
    });
  </script>
</body>
</html>
