<!DOCTYPE html>
<html>
<head>
  <title>AJS Simple Calculator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="calcApp">
<h1>Angular JS Simple Calculator</h1>
<div ng-controller="calcCntrl">
  <input type="number" ng-model="num1">
  <select ng-model="operator">
    <option value="num1 + num2">+</option>
    <option value="num1 - num2">-</option>
    <option value="num1 * num2">*</option>
    <option value="num2 !== 0 ? num1 / num2 : 'Divide by zero error'">/</option>
  </select>
  <input type="number" ng-model="num2">
  <button ng-click="result = eval(operator)">Compute</button>
  <p>Result: {{result}}</p>
</div>
<script>
  var app = angular.module("calcApp", []);
  app.controller("calcCntrl", function($scope) {
    $scope.num1 = 0;
    $scope.num2 = 0;
  });
</script>
</body>
</html>
